.geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.geostats-legend-block {
  border: 1px solid #555555;
  display: block;
  float: left;
  height: 12px;
  margin: 0px;
  margin-right: 3px;
  width: 20px;
}

.x-grid-highlight {
  background-color: #FF6666 !important;
}

.x-eye-opened {
  background: url(../panel/ico/eye.png) no-repeat top left;
}

.x-eye-closed {
  background: url(../panel/ico/eye-closed.png) no-repeat top left;
}

.aurin-name-primary {
  font-weight: bold
}

.aurin-name-secondary {
  color: #7f7f7f
}
